<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="\">PassManager</a>

    <div id="entry_buttons" class="flex-row">
        <a class="nav-item nav-link" href="/login">Login</a>
        <a class="nav-item nav-link" href="/register">Register</a>
      </div>
  </nav>