<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/dashboard">PassManager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/create">Create</a>
      </div>

    </div>
    <form class="form-inline my-2 my-lg-0" action="/logout" method="POST">
      <button class="btn btn-outline-danger my-2 my-sm-0 float-right" id="logout-btn" type="submit">Logout</button>
    </form>
  </nav>