<form action="/createpass" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="entry_name" />
    </div>

    <div>
        <label for="service">Service:</label>
        <input type="text" id="service" name="service_name" />
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password" />
    </div>

    <button type="submit" class="btn btn-default">Submit</button>

</form>