<form action="/createpass" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="entry_name" />
    </div>

    <div>
        <label for="service">Service:</label>
        <input type="text" id="service" name="service_name" />
    </div>

    <div>
        <label for="username">Email/Username:</label>
        <input type="text" id="username" name="user_name" />
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password"/>
        <button type="button" id="generate-button" class="btn btn-info view">Generate</button>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div class="d-flex justify-content-center embed-responsive" id="view-frame" >
    <iframe id=iframe name="edit" src="" allowfullscreen class="embed-responsive-item"></iframe>
</div>

    <!-- This is so Jank but it works! -->
    <script>
        let view_buttons = document.getElementsByClassName("view");
        let iframe_div = document.getElementById("view-frame");
        const iframe = document.getElementById('iframe');
        
        for (let button of view_buttons) {
            button.addEventListener('click', () => {
                const entryId = button.getAttribute('data-id')
                let visiblity_style = window.getComputedStyle(iframe_div)
                let iframe_visiblity = visiblity_style.getPropertyValue('visibility')
                if (iframe_visiblity === 'collapse') {
                    iframe_div.style.visibility = 'visible';
                }
                iframe.src = `/generate`;
            })
        }

        const field = document.getElementById('password');

        window.addEventListener('message', (event) => {
            field.value = event.data;
            iframe_div.style.visibility = 'collapse';
        });


    </script>

