
<h2>Generate Password</h2>
<input type="text" id="password" name="password"/>

<select class="custom-select custom-select-sm" id="length">
    <option selected>Password Length</option>
    <option value="2">2</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
</select>
<div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customCheck1">
    <label class="custom-control-label" for="customCheck1">Special characters</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customCheck2">
    <label class="custom-control-label" for="customCheck2">Numbers</label>
  </div>

  <button type="button" id="generate-button" class="btn btn-info">Randomize</button>
  <button type="reset" id="accept-button" class="btn btn-success">Accept</button>


  <script>
    const button = document.getElementById('generate-button');
    let field = document.getElementById('password');
    const numbox = document.getElementById('customCheck2');
    const specialbox = document.getElementById('customCheck1');
    const acceptbttn = document.getElementById('accept-button');
    let characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz';
    let special = '';
    let numbers = '';

    numbox.addEventListener('click', () => {
        if (numbox.checked) {
            numbers = '0123456789';
        } else {
            numbers = numbers.replace(/[0-9]/g, "");
            characters = characters.replace(/[0-9]/g, "");
        }
    })

    specialbox.addEventListener('click', () => {
        if (specialbox.checked) {
            special = '~!@-#$';
        } else {
            special = special.replace(/[^a-zA-Z0-9]/g, "");;
            characters = characters.replace(/[^a-zA-Z0-9]/g, "");;
        }
    })
    
    

    const generate = () => {
        characters = characters + special + numbers;
        const length = document.getElementById('length').value
        const password = Array.from(crypto.getRandomValues(new Uint32Array(length)))
            .map((x) => characters[x % characters.length])
            .join('');  

            field.value = password;
        
    }


    button.addEventListener('click', () => {
        generate()
    })

    acceptbttn.addEventListener('click', () => {
        window.parent.postMessage(field.value, '*');
    })


  </script>