.table {
    margin: auto;
    width: 50% !important; 
    text-align: center;
    vertical-align: middle;
 }
 
 tr {
   text-align: center;
   vertical-align: middle;
 }
 
 #view-frame {
    visibility: collapse;
    z-index: 10;
    position: relative;
    bottom: 13.4375em;
    height: 20em;
    overflow: auto;
 }

 iframe {
    border-width: 2px;
    border-style: solid;
 }

 form div {
   margin: 5px;
 }

 .search-input {
   height: 50px;
   border-radius: 30px;
   padding-left: 35px;
   border: none;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   margin-bottom: 1em;
}

#none-entry{
   text-align: center;
}

#index-header{
   text-align: center;
   margin-bottom: 1em;
   margin-top: 0.5em;
   padding-top: 2em;
}

footer {
   background-color: #f1f1f1;
   position: absolute; 
   bottom: 0; 
   width: 100%;
   text-align: center;
}

#logout-btn {
   margin-right: 1.5em;
}

#exit-iframe {
   margin-left: 10px;
}

#entry-frame {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

#entry-name {
   margin-top: 0.5em;
   font-size: 50px;
}

.navbar-brand {
   padding-left: 20px;
}

#submit-button {
   margin-right: 7px;
}

.offcanvas-body {
   padding-top: 0px;
}