.table {
    margin: auto;
    width: 50% !important; 
 }

 #view-frame {
    visibility: collapse;
    z-index: 10;
    position: relative;
    bottom: 13.4375em;
    width: 2000px;
    height: 20em;
    overflow: auto;
 }

 iframe {
    width: 50em;
    border-width: 2px;
    border-style: solid;
 }

 form div {
   margin: 5px;
 }

 .search-input {
   height: 50px;
   border-radius: 30px;
   padding-left: 35px;
   border: none;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   margin-bottom: 1em;
}